[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "Bruce"

[packages]
airtest = "*"
pytest = "*"
pandas = "*"
openpyxl = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.10"
